:root{
  --more-color: var(--tt-gray-light-600);
}
.dark{
  --more-color: var(--tt-gray-dark-600);
}

.more-content{
  background-color: var(--tt-card-bg-color);
  border-radius: var(--tt-radius-lg);
  min-width: 14rem;
  font-size: 14.5px;
  padding: 25px 15px;
  gap: 5px;
  color: var(--more-color);
  box-shadow: none;
  transform: translateX(-190px);
  min-height: auto;

  .version-history-btn{
    justify-content: flex-start;
    gap: 5px;
    padding: 0;
    background-color: transparent;

    svg{
      width: 19px;
      height: 19px;
    }
  }
  .more-item{
    width: 100%;
    gap: 5px;
  }
}

.more-inline-row {
  display: flex;
  align-items: center;
  gap: 4px;
}