:root{
  --more-color: var(--tt-gray-light-600);
}
.dark{
  --more-color: var(--tt-gray-dark-600);
}

.more-content{
  border-radius: var(--tt-radius-md);
  min-width: 14rem;
  font-size: 13.5px;
  padding: 15px 10px;
  gap: 5px;
  color: var(--more-color);

  .more-item{
    width: 100%;
    gap: 10px;
  }
}