.page-item-tree {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}


.page-item {
  border-radius: var(--tt-radius-sm) !important;

  span {
    min-width: 0; 
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }

  .page-item-actions {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    flex-shrink: 0;
  }

  &:hover .page-item-actions {
    width: auto;
    overflow: visible;
    opacity: 1;
  }
}

.page-title {
  flex: 1;
  font-size: 13.8px;
  font-weight: 500;
  min-width: 0;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
  transition: max-width 0.2s ease;

  &:hover{
     max-width: 170px;
  }
}

.page-expand-btn {

  &.visible {
    visibility: visible;
    display: block;
    background-color: transparent !important;
  }
}

.page-item-children {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.page-title-input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  color: var(--tt-text-color);
  padding: 0;
  caret-color: var(--tt-text-color);

  &::selection {
    background: var(--tt-gray-light-a-200);
  }
}