.page-item-tree {
  display: flex;
  flex-direction: column;
  gap: 1px;
}


.page-item {
  border-radius: var(--tt-radius-sm) !important;
  gap: 0;
  .page-item-actions {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    flex-shrink: 0;
  }

  .active{
      background-color: var(--tt-button-active-bg-color);
      color: var(--tt-button-active-text-color) !important;

  }
  &:hover .page-item-actions {
    width: auto;
    overflow: visible;
    opacity: 1;
  }
}


.page-item-title {
   /* Font Family: Standard System Stack */
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", "Noto Sans Arabic", "Noto Sans Hebrew", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    
    /* Sizing and Weight */
    font-size: 14px;
    font-weight: 500;    /* Medium weight for clarity at small sizes */
    line-height: 1.5;    /* Computed as 21px */
    
    /* Appearance */
  
    color: var(--tt-text-color);
    letter-spacing: normal;
    text-transform: none;
    
    /* Layout */
    display: block;
    margin: 0;
    padding: 0;

    min-width: 0;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

   

  // flex: 1;
  // font-size: 13.8px;
  // font-weight: 500;
  // min-width: 0;
  // max-width: 180px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // margin-left: 5px;
  // transition: max-width 0.2s ease;

  // &:hover{
  //    max-width: 170px;
  // }
}

.page-expand-btn {

  &.visible {
    visibility: visible;
    display: block;
    background-color: transparent !important;
  }
}

.page-item-children {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.page-title-input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  color: var(--tt-text-color);
  padding: 0;
  caret-color: var(--tt-text-color);

  &::selection {
    background: var(--tt-gray-light-a-200);
  }
}