@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  overflow-y: hidden;
}

html{
  overflow-y: scroll;
}

html,
body {
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

html,
body,
#root,
#app {
  //height: 100%;
  background-color: var(--tt-bg-color);
}

#root,
#app{
  height: 100% 
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

 
.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;

  $highlight-colors: purple, yellow, blue, red, green, orange;
  $block-elements: p, h1, h2, h3, h4, h5, h6, blockquote, li, ul, ol, th, td;

    @each $color in $highlight-colors {
      $var: var(--tt-color-highlight-#{$color});
      $var2: var(--tt-color-text-#{$color});


      @each $el in $block-elements {
        #{$el}[data-background-color="#{$var}"] {
          background-color: $var;
        }

        #{$el}[data-color="#{$var2}"]{
          color: $var2;
        }
      }
    }
 
    $align-values: "left", "center", "right", "justify";
    $vertical-align-values: "top", "middle", "bottom";
    $align-elements: table, th, td, tr, figure, img;
    $vertical-align-elements: table, th, td, tr;

    @each $align in $align-values {
      @each $el in $align-elements {
        #{$el}[data-align="#{$align}"] {
          text-align: #{$align};

          @if $el == table or $el == figure or $el == img {
            @if $el == img {
              display: block;
            }

            @if $align == "center" {
              margin-inline-start: auto;
              margin-inline-end: auto;
            } @else if $align == "right" {
              margin-inline-start: auto;
              margin-inline-end: 0;
            } @else if $align == "left" {
              margin-inline-start: 0;
              margin-inline-end: auto;
            }
          }
        }
      }
    }

    @each $valign in $vertical-align-values {
      @each $el in $vertical-align-elements {
        #{$el}[data-vertical-align="#{$valign}"] {
          vertical-align: #{$valign};
        }
      }
    }

}


.simple-editor-wrapper {
  width: 100vw;
  // height: 100vh;
  overflow: auto;

}

.simple-editor-content {
  max-width: 858px;
  // max-width: 648px;
  // width: 100%;
  margin: 0 auto;
  // height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 4.5rem 3rem 30vh;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}

/*
TABLE STYLE
*/
:root {
    --tt-table-border-color: var(--tt-gray-light-a-300);
    --tt-table-selected-bg: #c3bdff66;
    --tt-table-selected-stroke: var(--tt-brand-color-400);
    --tt-table-column-resize-handle-bg: var(--tt-brand-color-400);
    --tt-table-cell-padding: .5rem;
    --tt-table-margin-block: 1.25rem;
    --tt-table-pad-block-start: 1rem;
    --tt-table-pad-block-end: 1.5rem;
    --tt-table-pad-inline-start: 1rem;
    --tt-table-pad-inline-end: 1.5rem;
}

.dark {
    --tt-table-border-color: var(--tt-gray-dark-a-300);
    --tt-table-selected-bg: #c3bdff33;
    --tt-table-selected-stroke: var(--tt-brand-color-400);
    --tt-table-column-resize-handle-bg: var(--tt-brand-color-400);
}

