.pp-row-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: var(--tt-gray-light-a-500);

  .dark & {
    color: var(--tt-gray-dark-a-500);
  }
}

.pp-row-label {
  font-size: 13px;
  color: var(--tt-gray-light-a-800);

  .dark & {
    color: var(--tt-gray-dark-a-800);
  }
}

.pp-row-value {
  font-size: 13px;
  color: var(--tt-gray-light-a-400);

  .dark & {
    color: var(--tt-gray-dark-a-400);
  }
}

.sp-sub-description {
  .dark & {
    color: var(--tt-gray-dark-a-400) !important;
  }
}