.column-menu { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;

  &.active{
    opacity: 1;
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    pointer-events: auto;
    background-color: var(--dark-4);
    border-radius: 8px;
    cursor: grab;
    z-index: 2;

    opacity: 0;
  }

  &[data-visible="true"] {
    .column-menu__inner {
      opacity: 1;
      transform:
        translateX(0)
        translateY(0)
        scale(1);

      .icon{
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}
