.toolbar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  min-height: 45px;
  padding: 5px 45px;
  gap: 10px;
  border-bottom: 1px solid var(--gray-3);
  border-radius: 8px;
  align-items: center;
  font-size: 0.875rem;
  color: var(--text-orange);
  background: var(--bg-app);
  z-index: 40;

  .undoRedoMenu{
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-8);
  background: transparent;

  &:hover {
    background: var(--cyan-2);
  }

  &:active,
  &.active {
    background: var(--purple-light);
    color: var(--purple-7);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.2s ease;
    margin-right: 10px;
  }
}

.profile{
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 1.1rem;
}

@include breakpoint(sm) {
  .toolbar {
    gap: 10px;
    padding: 4px 6px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .toolbar-button {
    padding: 3px 4px;

    // svg {
    //   width: 0.875rem;
    //   height: 0.875rem;
    // }

  }

  .toolbar-divider {
    width: 1px;
    height: 20px;
    background-color: var(--gray-4);
  }
}
