.react-renderer {
  margin-bottom: 40px;
  &.node-figure {
   // width: fit-content;

   width: fit-content;
  

  &:has(figure[data-align="center"]) {
    margin-left: auto;
    margin-right: auto;
  }

  &:has(figure[data-align="right"]) {
    margin-left: auto;
    margin-right: 0;
  }

  &:has(figure[data-align="left"]) {
    margin-left: 0;
    margin-right: auto;
  }

    &.ProseMirror-selectednode {
      outline: 2px solid var(--tt-brand-color-400);
    }
  }

  figure{
    margin: 0;
  }

  // figure{
  //   width: fit-content;
  //   height: 100%;
  //   margin: 0;
  //   position: relative;
  //   pointer-events: "auto";
  //   display: flex;
  //   flex-direction: column;
    
    
  //   &[data-align="center"]{
  //     width: fit-content;
  //     margin-left: auto;
  //     margin-right: auto;
  //   }


  //   &[data-align="right"]{
  //     margin-left: auto;
  //   }

  //   &[data-align="left"]{
  //     margin-right: auto;
  //   }
  // }

  figcaption.caption {
    cursor: text;
    text-align: center;
    white-space: break-spaces;
    word-break: break-word;
    font-size: 15px;
    color: var(----tt-color-text-gray);
    margin-top: 6px;
    outline: none;
    width: 100%;
    max-width: 100%;
    position: relative;
    pointer-events: auto;
    min-height: 1.5em;

    &[data-empty="true"]::before {
      content: attr(data-placeholder);
      color: #bbb;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-style: italic;
      font-size: 15px;
      white-space: nowrap;
    }
  }
}