.tiptap{
  .thread-anchor{
    border-bottom: 2px dashed var(--yellow);

    &.selected{
       background-color: var(--yellow);
    }
  }
}
.thread-sidebar{
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  pointer-events: none; // allows editor interaction through gaps
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  > * {
    pointer-events: auto;
  }
}