:root{
  --text-color: var(--tt-gray-light-800);
  --messages-bg-color: var(--tt-gray-light-50);
  --message-draft-input-border-color: var(--tt-gray-light-50);
  --message-draft-input-bg-color: var(--tt-gray-light-a-100);
}
.dark{
  --text-color: var(--white);
  --messages-bg-color: var(--tt-gray-dark-50);
  --message-draft-input-border-color: var(--tt-gray-dark-a-50);
  --message-draft-input-bg-color: var(--tt-gray-dark-100);
}
.messages {
  display: flex;
  flex-direction: column;
  gap:  4px;
  align-items: flex-start;
  padding: 5px 10px;
  z-index: 0;
  box-shadow: none;
  
  
  //box-shadow: none;
  background-color: var(--messages-bg-color);
  border: 1px solid var(--tt-border-color);

  &[data-messages-open="true"]{
    z-index: 10;
  }
  &[data-messages-open="false"]{
    z-index: 0;
  }

  .control-button{
    font-size: 11px;
  }
  .edit{
    font-weight: bold;
    color: var(--tt-color-yellow-inc-1);
    &:hover{
      color: var(--tt-color-yellow-inc-2);
    }
  }
  .delete{
    height: 25px;
    font-weight: bold;
    color: var(--tt-color-red-inc-1);
    &:hover{
      color: var(--tt-color-red-inc-2);
    }
  }

  .message{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--message-draft-input-bg-color);
    border-radius: 10px;
    &[data-focused="true"]{
      width: 100%;
      border: 2px solid var(--tt-brand-color-500);
    }
  }

  .message-draft{
    gap: 15px;
    width: 100%;
    input{
      width: 100%;
      padding: 10px 10px;
      border-radius: 8px;
      outline: var(--message-draft-input-border-color);
      border: 1px solid var(--message-draft-input-border-color);
      color: var(--text-color);
      background-color: var(--message-draft-input-bg-color);  
    }

   
  }
  .cancel-button{
    color: var(--white);
    background-color: var(--tt-color-red-base);
    &:hover{
      color: var(--white);
      background-color: var(--tt-color-red-inc-1);
    }
  }
  
  .submit-button{
    color: var(--white);
    background-color: var(--tt-color-green-base);
    &:hover{
      color: var(--white);
      background-color: var(--tt-color-green-inc-1);
    }
  } 

  .messages-collapsible {
    overflow: hidden;
    max-height: 0;
    opacity: 0;

    transition:
      max-height 0.25s ease,
        opacity 0.2s ease;

    &[data-open="true"] {
      max-height: 600px;
      opacity: 1;
    }
  }
  .collapsible{
   max-height: 0;
   overflow: hidden;
   z-index: 10;
    transition: max-height 0.25s ease-in-out;

    &[data-collapsible-open="true"]{
      max-height: 2000px;
     
    }
  }
  .hideable{
    transition: visibility 0.2s ease-in-out;
  }
  
}
