.tiptap{
    blockquote{
        @include font(body, regular);
        border-left: 4px solid var(--light-8);
        margin: 1.5rem 0;
        padding-left: 0.6rem;
        border-radius: 2px;
        
    }
}