.tiptap {
  hr {
    position: relative;
    border: none;
    height: 20px;          // clickable area
    margin: 2rem 0;
    cursor: pointer;
    background: transparent;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);

      width: 100%;
      border-top: 1px solid var(--gray-2);
    }

    &.ProseMirror-selectednode::after {
      border-top: 1px solid var(--selection-node);
    }
  }
}