.tiptap{
   /* Base mention */
  .mention {
    background-color: var(--purple-1);
    color: var(--purple-6);
    padding: 2px 6px;
    border-radius: 6px;
    font-weight: 200;
    cursor: pointer;
    transition: background 0.15s ease;
  }

  /* Mentions inside headings → softer */
  h1 .mention,
  h2 .mention,
  h3 .mention,
  h4 .mention,
  h5 .mention,
  h6 .mention {
    background: var(--purple-light);
    border-color: transparent;
    font-weight: 600;
  }

}