.node-checkboxCell{
  margin: 0;
}
.db-td--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.db-checkbox {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: var(--tt-radius-xs);
  border: 1.5px solid var(--tt-border-color);
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background var(--tt-transition-duration-short),
              border-color var(--tt-transition-duration-short);
  flex-shrink: 0;
  margin: 0 5px !important;
 

  &:hover {
    border-color: var(--tt-brand-color-400);
  }

  &--checked {
  background: var(--tt-brand-color-500) !important;
  border-color: var(--tt-brand-color-500);

  svg {
    stroke: white;
    color: white;
  }

  .dark & {
    background: var(--tt-brand-color-400);
    border-color: var(--tt-brand-color-400);
  }
}
}