.db-cell-link {
  color: var(--link-text-color);
  text-decoration: underline;
  font-size: inherit;

  &:hover {
    opacity: 0.8;
  }

  &--url {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}