.db-td--rollup {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: flex-end;
}

.db-cell-readonly {
  font-size: 0.875rem;
  color: var(--tt-gray-light-a-500);
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .dark & {
    color: var(--tt-gray-dark-a-500);
  }
}