.tiptap{
  .thread-anchor{
    border-bottom: 2px dashed var(--yellow);

    &.selected{
       background-color: var(--yellow);
    }
  }
}

.thread-sidebar {
  position: absolute;  // stays in viewport while parent scrolls
  top: 0;
  right: 0;
  min-width: 320px;
  height: 100%;     // full viewport height so items can position freely
  pointer-events: none;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start; 

  > * {
    pointer-events: auto;
  }
}