.drag-handle{
  position: absolute;
  pointer-events: auto;
  transform: translateX(-15px);
  gap: 0px;
  transition: top 0.25s ease-out, left 0.25s ease-out, visibility 0.25s ease;
  // transition-property: top;
  //   transition-duration: .25s;
  //   transition-timing-function: ease-out;

  &.hide{
    visibility: hidden;
  }
  &.show{
    visibility: visible;
  }

  .plus-button,
  .grip-button{
    min-width: 15px;
    width: 15px;
    min-height: 20px;
    height: 25px;
  }

  &.adjust-pos{
    transform: translateX(28px);
  }
}

.column-drag-handle{
  position: absolute;
  transform: translateX(-20px);
  pointer-events: auto;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}