@mixin dropdown__content {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

@mixin dropdown__title {
  font-weight: 500;
}

@mixin dropdown__subtitle {
  font-size: 12px;
  font-weight: 700;
  color: #6b6b6b;

  .dark & {
    color: #dcdbdb;
  }
}
