@mixin dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;

  min-width: 180px;
  max-height: 280px;

  padding: 5px 8px;
  border-radius: 10px;

  background: var(--dropdown-bg);
  border: var(--dropdown-border);

  box-shadow: var(--dropdown-shadow);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  animation: dropdownIn 0.12s ease-out;

}
