
@import './abstracts/breakpoints';
@import './abstracts/editor-colors';
@import './abstracts/editor-highlights';
@import './abstracts/variables';
@import './abstracts/themes';
@import './abstracts/keyframe-animations';
@import './abstracts/_tokens';


// @import './abstracts/fonts';
// @import './abstracts/typography';
// @import './abstracts/mixins';

@import './components/card';

@import './ui/toolbar';
//@import './ui/dropdown-menu';
// @import './ui/slash-menu';

@import './ui/icon';
@import './ui/color-palette';
@import './ui/recent-colors';
@import './ui/highlight-palette';
@import './ui/separator';
@import './ui/gutter-floating-menu';
@import './ui/floating-table-menu';
@import './ui/row-add-menu';

@import './editor/plugins/button_colors';

// @import './editor/editor';
@import './abstracts/colors';
// @import './editor/plugins/dropdown_menu';
// @import './editor/plugins/bubble-menu';
@import './app';

*{
  box-sizing: border-box;
}


html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--app-bg-color); 
  color: var(--text-primary);   
}

// /* Entire scrollbar */
// ::-webkit-scrollbar {
//    width: 4px;
//   height: 4px;
// }


// /* Scrollbar styling */
// body::-webkit-scrollbar {
//  // margin-top: 50px;
//   width: 8px;
// }

// body::-webkit-scrollbar-thumb {
//   background: var(--tt-scrollbar-color);
//   border-radius: 5px;
// }

// body::-webkit-scrollbar-track {
//   background: var(--tt-scrollbar-color);
// }