.property-header-dropdown{
  border-radius: var(--tt-radius-md);
  background-color: var(--tt-gray-light-50);
  .dark & {
    background-color: var(--tt-gray-dark-100);
  }
  box-shadow: var(--tt-shadow-elevated-md);
  border: 1px solid var(--tt-border-color);
}