//--------------------------------------
//            PARAGRAPH
//--------------------------------------

// Light mode
:root{
  --tt-paragraph-color: var(--tt-gray-light-800);
  --tt-paragraph-placeholder-color: var(--tt-gray-light-a-800);
}
// Dark mode
[data-theme = "dark"]{
  --tt-paragraph-color: var(--tt-gray-dark-800);
  --tt-paragraph-placeholder-color: var(--tt-gray-dark-a-800);
}

//-----------------------------------------
//          CODE BLOCK
//-----------------------------------------
// Light mode
:root{
  --tt-code-block-bg: var(--tt-gray-light-400);
  --tt-code-block-border: 1px solid var(--tt-gray-light-500);
}
// Dark mode
[data-theme="dark"]{
   --tt-code-block-bg: var(--tt-gray-dark-400);
   --tt-code-block-border: 1px solid var(--tt-gray-dark-500);
}


//-----------------------------------------
//          HORIZONTAL RULE
//-----------------------------------------
// Light mode
:root{
  --tt-hr-color: var(--tt-gray-light-a-400);
}
// Dark mode
[data-theme="dark"]{
  --tt-hr-color: var(--tt-gray-dark-a-200);
}

//-----------------------------------------
//          BLOCKQUOTE
//-----------------------------------------
// Light mode
:root{
  --tt-blockquote-border-color: var(--tt-gray-light-100);
}

[data-theme="dark"]{
  --tt-blockquote-border-color: var(--tt-gray-dark-100);
}