:root{
  --comment-anchor-bg-color: rgba(255, 221, 0, 0.35); /* light yellow highlight */
  --comment-anchor-hover-bg-color: rgba(255, 221, 0, 0.5);
  --comment-anchor-active-bg-color: rgba(255, 200, 0, 0.65);
}

.dark{
  --comment-anchor-bg-color: rgba(255, 221, 0, 0.25);
  --comment-anchor-hover-bg-color: rgba(255, 221, 0, 0.4);
  --comment-anchor-active-bg-color: rgba(255, 200, 0, 0.55);
}

.comment-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  pointer-events: none; // allows editor interaction through gaps
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  > * {
    pointer-events: auto;
  }
}
.ProseMirror{
  .comment-anchor{
    border-bottom: 2px dashed var(--tt-color-yellow-base);
    //text-decoration: underline dashed var(--tt-color-yellow-base);
    }
  .comment-anchor-hover{
    background-color: var(--comment-anchor-bg-color);
    text-decoration: underline dashed var(--tt-color-yellow-base);
  }
  // .comment-anchor-active{
  //   background-color: var(--tt-color-yellow-dec-3);
  //   text-decoration: underline dashed var(--tt-color-yellow-dec-1);
  // }
}