.menu-button {
  width: 100%;
}

.menu{
  border-radius: var(--tt-radius-sm);
  width: fit-content;
  border: 2px solid white;
  background: green;
}


.color-menu-content{
  min-width: 15rem;
  justify-content: flex-start;
  align-items: flex-start;
  .tiptap-card{
    border-radius: var(--tt-radius-md);
    background-color: var(--tt-gray-light-50);
    .dark & {
      background-color: var(--tt-gray-dark-100);
    }
  }
  
   /* Animation states */
  &[data-state="open"] {
    animation:
      fadeIn 150ms var(--tt-transition-easing-cubic) /*cubic-bezier(0.16, 1, 0.3, 1)*/,
      zoomIn 150ms var(--tt-transition-easing-cubic) /*cubic-bezier(0.16, 1, 0.3, 1)*/;
  }

  &[data-state="closed"] {
    animation:
      fadeOut 0ms var(--tt-transition-easing-cubic) /*150ms cubic-bezier(0.16, 1, 0.3, 1)*/,
      zoomOut 0ms var(--tt-transition-easing-cubic) /*150ms cubic-bezier(0.16, 1, 0.3, 1)*/;
  }
}
