.db-board-card{
  opacity: 1;
  &[data-view-type="board"]{
    border: 0.3px solid var(--tt-border-color);
    background-color: var(--tt-bg-color);
    .dark & {
      background-color: color-mix(in srgb,  var(--tt-gray-dark-a-900) 7.5%, transparent);
       border: 0.3px solid color-mix(in srgb,  var(--tt-gray-dark-500) 12.5%, transparent); //var(--tt-border-color);
    }
  }


  &[data-view-type="gallery"],
  &[data-view-type="calendar"]{
    background-color: var(--tt-gray-light-50);
    box-shadow: var(--tt-shadow-elevated-sm);
    height: 100% !important;
    .dark & {
      background-color: var(--tt-gray-dark-100);
      box-shadow: none;
    }
  }
  &[data-view-type="calendar"]{
    box-shadow: var(--tt-shadow-elevated-sm);
     .dark & {
      background-color: var(--tt-gray-dark-200);
      box-shadow: none;
    }
  }

  &[data-dragging="true"]{
    opacity: 0.5;
    outline: 1.5px solid var(--tt-selection-color);
    outline-offset: -1.5px;
  }
  &[data-dragging="false"]{
    opacity: 1 !important;
    outline: none;
    outline-offset: 0;
  }

  &__title,
  &__props{
    margin: 0 6px;
  }
  &__cover{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; 
  }
}