.db-cell{
  height: 34px;
}
.db-checkbox {
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
   
  border-radius: var(--tt-radius-xs);
  border: 1.5px solid var(--tt-border-color);
  background: transparent !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  transition: background var(--tt-transition-duration-short),
              border-color var(--tt-transition-duration-short);
  flex-shrink: 0;
  margin: 0 5px !important;
 

  &:hover {
    border-color: var(--tt-brand-color-400);
  }

  &--checked {
  background: var(--tt-brand-color-500) !important;
  border-color: var(--tt-brand-color-500);
  // width: 16px;
  // height: 16px;
  // min-width: 16px;
  // min-height: 16px;
  

  svg {
    stroke: white;
    color: white;
    
  }

  .dark & {
    background: var(--tt-brand-color-400);
    border-color: var(--tt-brand-color-400);
  }
}
}