:root{
  --tt-combobox-bg-color: var(--white);
  --tt-combobox-border-color: var(--tt-gray-light-a-100);
  --tt-combobox-text-color: var(--tt-gray-light-a-600);
}

.dark{
  --tt-combobox-border-color: var(--tt-border-color);
  --tt-combobox-bg-color: #1f1f1f;
  --tt-combobox-text-color: var(--tt-gray-dark-a-600);
}

.menu{
  z-index: 9999;
  min-width: 15rem;
  --padding: .375rem;
  --border-width: 1px;
  border-radius: var(--tt-radius-lg);
  border: var(--border-width) solid var(--tt-combobox-border-color);
  background-color: var(--tt-combobox-bg-color);
  height: 100%;
  color: var(--tt-combobox-text-color);
  padding: var(--padding);
  box-shadow: var(--tt-shadow-elevated-sm);
  max-width: 18rem;
  max-height: var(--popover-available-height);
  outline: none;
  margin-block:.375rem;overflow-y: auto;
  align-items: flex-start;


  .title{
    margin-bottom: 7px !important;
  }
  .group{
    width: 100%;
    gap: .3rem;
  }

  .tiptap-button{
    cursor: pointer;
  }

  .menu-button{
    width: 100%;
  }

  .delete-node-button{
    &:hover{
      color: var(--tt-color-red-dec-1);
      .tiptap-button-icon{
        color: var(--tt-color-red-dec-1);
      }
      .dark & {
        color: var(--tt-color-red-inc-2);
        .tiptap-button-icon{
          color: var(--tt-color-red-inc-2);
        } 
      }
    }
  }
}

