:root {
  --tt-color-highlight-lime: #ecfccb;
  --tt-color-highlight-lime-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-teal: #ccfbf1;
  --tt-color-highlight-teal-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-cyan: #cffafe;
  --tt-color-highlight-cyan-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-indigo: #e0e7ff;
  --tt-color-highlight-indigo-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-violet: #ede9fe;
  --tt-color-highlight-violet-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-fuchsia: #fae8ff;
  --tt-color-highlight-fuchsia-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-rose: #ffe4e6;
  --tt-color-highlight-rose-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-amber: #fef3c7;
  --tt-color-highlight-amber-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-emerald: #d1fae5;
  --tt-color-highlight-emerald-contrast: rgba(0,0,0,0.08);

  --tt-color-highlight-sky: #e0f2fe;
  --tt-color-highlight-sky-contrast: rgba(0,0,0,0.08);
}