.comment-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  pointer-events: none; // allows editor interaction through gaps

  // creates a stacking context for absolutely positioned threads
  > * {
    pointer-events: auto;
  }
}