/**
resize: "none",
    width: "100%",
    fontSize: "13px",
    lineHeight: "1.5",
    border: "0.5px solid var(--color-border-tertiary)",
    borderRadius: "var(--border-radius-md)",
    outline: "none",
    background: "var(--color-background-secondary)",
    color: "var(--color-text-primary)",
    padding: "6px 8px",
    boxSizing: "border-box",
    fontFamily: "var(--font-sans)",
*/

:root{
  --comment-textarea-bg-color: var(--tt-gray-light-100);
}
.dark{
  --comment-textarea-bg-color: var(--tt-gray-dark-100);
}

.comment-popover-content{
 
  font-size: 13px;
  line-height: 1.5;
  border: 0.5px solid var(--tt-border-color);
  border-radius: var(--tt-radius-xl);
  outline: none;
  padding: 6px 8px;
  box-sizing: border-box;
  font-family: var(--font-ui);
  gap: 3px;
  min-width: 230px;
}