@import './nodes/nodes';
@import './placeholders';
@import './link-popover';

.editor{
  width: 90%;
  margin: 60px 0;
  padding: 10px 16px;
  background-color: var(--bg-editor);
  overflow-y: auto;

  .pm-selected-node{
    background-color: var(--selection-bg);
    border-radius: 6px;
  }


  @include breakpoint(md){
    padding: 10px 32px;
  }

  @include breakpoint(lg){
    max-width: 720px;
    margin: 60px auto;
  }
}