@import './nodes/nodes';
@import './placeholders';
@import './link-popover';
@import './suggestions';
@import './selection';

@import './components/button';
@import './plugins/table-controls';
@import './plugins/drag-handle';

.editor{
  width: 100%;
  margin: 30px 0;

  background-color: var(--tt-bg-color);
  overflow-y: auto;
  overflow: visible;
 
  .ProseMirror{
    margin: 0 5% auto;
    position: relative;
    overflow: visible;

    .table-controls{
      overflow: visible;
    }
   
  }

 

 


  @include breakpoint(md){
    padding: 10px 32px;
  }

  @include breakpoint(lg){
    max-width: 720px;
  
  }
}