.menu-item{
  width: 100%;
  justify-content: flex-start;
}
.alignment-menu-content{

  .tiptap-card{
    border-radius: var(--tt-radius-md);
    background-color: var(--tt-gray-light-50);
    .dark & {
      background-color: var(--tt-gray-dark-100);
    }
    .tiptap-button{
      width: 100%;
     }
  }
  
   /* Animation states */
  &[data-state="open"] {
    animation:
      fadeIn 150ms var(--tt-transition-easing-cubic) /*cubic-bezier(0.16, 1, 0.3, 1)*/,
      zoomIn 150ms var(--tt-transition-easing-cubic) /*cubic-bezier(0.16, 1, 0.3, 1)*/;
  }

  &[data-state="closed"] {
    animation:
      fadeOut 150ms var(--tt-transition-easing-cubic) /*150ms cubic-bezier(0.16, 1, 0.3, 1)*/,
      zoomOut 150ms var(--tt-transition-easing-cubic) /*150ms cubic-bezier(0.16, 1, 0.3, 1)*/;
  }
}
