.tiptap {

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    overflow: scroll;
    table-layout: fixed;
    width: 100%;
    position: relative;
  
  //  margin-right: 20px;
     
    td,
    th {
      border: 1px solid var(--tt-hr-color);
      box-sizing: border-box;
      min-width: 100px;
      padding: 2px 4px;
      position: relative;
      vertical-align: top;
      
      > * {
         @include font(body, medium);
        margin-bottom: 0;
        color: inherit;
        font-size: 14px;

      }

      &.active-cell{
        border: 2px solid var(--tt-brand-color-400);
        z-index: 5px;
      }

      //  &.active-column{
      // border: 2px solid var(--purple-3);
      //   background-color: var(--purple-3);
      //   opacity: 0.5;
      // }
    }

    th {
      text-align: left;
    }

    tr{
     
      &.active-row{
        border: 2px solid var(--tt-brand-color-400);
        background-color: var(--tt-brand-color-400);
        opacity: 0.5;
      }
     
      >*{
        color: inherit;
        background-color: inherit;
        background: inherit;
      }
    }

    .selectedCell:after {
      background: var(--tt-brand-color-400);
      opacity: 0.5;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 0;
     
    }

    .column-resize-handle {
      background-color: var(--tt-brand-color-400);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 2px;
    }
  }

  // .tableWrapper {
  //   position: relative;
  //   margin: 1rem 0;
  //   overflow-x: auto;
    
  // }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
