
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply
      bg-white text-gray-900 -z-10
      dark:bg-neutral-900 dark:text-gray-100
      
      transition-colors duration-200 ease-out
      motion-reduce:transition-none;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(4px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.popover-animate {
  animation: popIn 120ms ease-out;
}


*{
  box-sizing: border-box;
}

/* Entire scrollbar */
::-webkit-scrollbar {
   width: 8px;
  height: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.35);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.55);
}

[data-radix-popper-content-wrapper] {
  border: 1px solid var(--gray-6);
}
