
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply
      bg-white text-gray-900 -z-10
      dark:bg-neutral-900 dark:text-gray-100
      
      transition-colors duration-200 ease-out
      motion-reduce:transition-none;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(4px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.popover-animate {
  animation: popIn 120ms ease-out;
}


*{
  box-sizing: border-box;
}