
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply
      bg-white text-gray-900 -z-10
      dark:bg-neutral-900 dark:text-gray-100
      transition-colors duration-200 ease-out
      motion-reduce:transition-none;
  }
}

*{
  box-sizing: border-box;
}