:root{
  --slash-item-border-color: var(--tt-gray-light-100);
  --slash-item-separator-color: var(--tt-gray-light-a-100);
}
[data-theme="dark"]{
  --slash-item-border-color: var(--tt-gray-dark-100);
  --slash-item-separator-color: var(--tt-gray-dark-a-100);
}

.slash-menu{
  justify-content: 'left';
  align-items: 'flex-start';
  min-width: 200px;
  max-height: 320px;
  gap: 8px;
  padding: 10px;
  overflow-y: scroll;
  
  scroll-padding-bottom: 12px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;

  //transition: scale 0.15s ease-in-out;
  opacity: 0;
  transform: translateY(-4px) scale(0.98);

  transition:
    opacity var(--anim-duration) var(--anim-ease-standard),
    transform var(--anim-duration) var(--anim-ease-standard);

  &[data-slash-menu-open="false"]{
    opacity: 0;
    transform: translateY(-4px) scale(0.98);
    pointer-events: none;
  }

  &[data-slash-menu-open="true"]{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.slash-item{
  outline: none;
  border: 1px solid var(--slash-item-border-color);
  min-width: 200px;
  justify-content: flex-start;
  font-size: 15px;
}

.slash-item-separator{
  background-color: green;
  width: fit-content;
}

